@media screen and (max-width: 768px) {
    /* 在小屏幕上应用的样式 */
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    /* 在中等屏幕上应用的样式 */
  }
  
  @media screen and (min-width: 1025px) {
    /* 在大屏幕上应用的样式 */
  }


.body-container {
  font-family: "Microsoft JhengHei", sans-serif;
    position: absolute;
    /* Fixed position from top */
    width: calc(100%);
    height: auto; /*100vh: 这代表视口高度的百分比，也就是浏览器窗口的高度。100vh 表示整个视口高度，相当于屏幕的高度。*/
    /*
        原：100vh: 这代表视口高度的百分比，也就是浏览器窗口的高度。100vh 表示整个视口高度，相当于屏幕的高度。
        - 146px: 这是从视口高度中减去的固定像素值，通常用于顶部导航栏等元素的高度。在这个例子中，从视口高度中减去了 146 像素。
        - 104px: 这是从视口高度中减去的另一个固定像素值，通常用于底部的页脚等元素。在这个例子中，从视口高度中减去了 104 像素。
        综合起来，这段样式设置了一个元素的高度，这个高度占据了整个视口高度，然后从中减去了 146 像素和 104 像素，以适应上部和下部的固定元素（例如导航栏和页脚）。
    */
    background-color:#eeeeee;
    overflow-y:scroll ;
    &::-webkit-scrollbar{
        width: 0px;
        }
        
}

.ProfileHeadContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
}

.setting-img {
    width: 2rem;
    height: 2rem;
    object-fit: initial;
}


.email-img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: initial;
}

.profile-name {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-nameLeft {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.profile-namePic {
    width: 4rem;
    height: 4rem;
    object-fit: initial;
    border-radius: 50%;
}

.profile-names {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-nameLevel {
    display: flex;
    flex-direction: row;
    background-color: rgba(114, 153, 177, 0.3);
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
}

.profile-nameLevel img {
    width: auto;
    height: 1rem;
    margin-left: -0.5rem;
}

.profile-nameLevelText {
    color: black;
    font-size: 0.8rem;
}

.profile-nameCenterPic {
    position: absolute;
    height: 1.5rem;
    width: auto;
    margin-left: 10rem;
    margin-top: -1rem;
}

.profile-nameRight {
    background-color: blue;
    color:white;
    cursor: pointer; /* 鼠标悬停样式 */
    border: none; /* 移除按钮边框 */
    width: 4rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    transition: background-color 0.3s ease; /* 添加过渡效果，使颜色变化平滑 */
}

.profile-nameRight.clicked {
    background-color: gray; /* 按下状态下的背景颜色 */
    pointer-events: none; /* 禁用按钮点击事件 */
  }

.profile-namesText {
    font-weight: bold;
    font-size: 1.2rem;
}

.profile-class {
    display: flex;
    padding: 1rem;
    justify-content: space-around;

}

.profile-classBTN {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.profile-classNumber {
    font-weight: bold;
    font-size: 1.3rem;
}

.profile-classText {
    font-weight: bold;
    font-size: 0.9rem;
}

.profile-classLine {
    position: inherit;
    color: #cecece;
    font-size:2rem;
    margin-top: 0.5rem;
    margin-left:0;
}

.profile-money {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 90%;
    align-items: center;
    background: linear-gradient(to right, #fefcea 0%,#f2e7b8 0%,#e8cb81 100%); 
    margin: 0 auto;/* 添加此样式来水平居中 */
    border-radius: 1rem;
}

.profile-moneyLeft {
    display: flex;
    flex-direction: column;
}

.profile-moneyLeftCoin {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.profile-moneyLeftCoinText {
    font-weight: bold;
    font-size: 1.3rem;
    color:#5e2609;
}

.profile-moneyLeftCoin img {
    width:auto;
    height: 1rem;
    margin-left: 0.5rem;
}

.profile-moneyRightText {
    width: 4rem;
    background-color: #333;
    color: rgb(250, 229, 210);
    font-size: 0.9rem;
    border-radius: 2rem;
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0.5rem ;
}

.profile-moneyLeftText {
    color:#5e2609;
}

.profile-myhire {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap:1.5rem;
    background-color: white;
    border-radius: 1rem;
}

.profile-myhireTitle {
    font-weight: bold;
    font-size: 1.5rem;
}

.profile-myhireBTN {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.5rem;
}

.profile-myhireBTNs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.profile-myhireBTNs img {
    width:1.5rem;
    height: auto;
}

.profile-myhireBTNsText {
    color: #aeaeae;
}

.profile-missionContainer {
    background-color: white;
    border-radius: 1rem;
    width: 90%;
    padding: 1rem;
    margin-bottom: 1rem;
}

.nav-link{
    color:#aeaeae;
}

.nav-link:focus, .nav-link:hover {
    color: black;
    font-weight: bold;
    font-size: larger;
}

.profile-mission {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #eeeeee;
    padding: 1rem 0; /* 增加底部内边距 */
}

.profile-missionTabContainer {
    margin: 1rem 0;
}

.profile-mission img {
    width: auto;
    height: 3rem;
}


.profile-missionAward {
    display: flex;
    flex-direction: row;
    align-items: center;
    position:absolute;
    margin-top: -2.2rem;
    margin-left: 13rem;
}

.profile-missionAwardText {
    color: red;
    font-size: 0.8rem;
}

.profile-missionAward  img{
    width: auto;
    height:1rem;
}

.profile-missionText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-missionTextTitle {
    font-weight: bold;
    font-size: 1rem;
}

.profile-missionTextTitle2 {
    color: #aeaeae;
    font-size: 0.8rem;
}

.profile-missionLeft {
    gap:0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-missionBTN {
    background-color: #fcd23a;
    position: relative;
    margin-top: 1.8rem;
    border-radius: 2rem;
    color: white;
    font-weight: bold;
    white-space: nowrap;
    padding:0.1rem 0.5rem;
    width:4rem;
}

.profile-missiontimes {
    position: relative;
    margin-top: -0.5rem;
    color: #bebebe;
    font-size: 0.8rem;
}

.profile-missionAwardTab2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    position:absolute;
    margin-top: -3.8rem;
    margin-left: 13rem;
}

.profile-missionAwardTab2  img{
    width: auto;
    height:1rem;
}

.custom-sharebtn {
    background-color: transparent;
}

.offcanvas-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:white;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.offcanvas-fullscreen.show {
    transform: translateX(0);
}

.btn {
    border: none;
    padding: 0;
}

.custom-backbtn {
    margin: 0;
    background-color: transparent;
    border: none;
}

.custom-backbtn img {
    width: 2rem;
    height: auto;
}

.profile-TGGroupBody {
    padding: 0;
    margin-top: 4.2rem;
    background-color: #ebebeb;
}

.profile-TGGroupHeader {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: start;
    margin-left: 0;
    border-bottom: 1px solid #cecece;
}

.profile-TGGroupTitle {
    position: fixed;
    color: black;
    font-weight: bold;
    left: 40%;
    font-size: 1.5rem;
}


.profile-TGGroupOfficial {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    background-color: white;
    margin: 1rem 0;
}

.profile-TGGroupOfficialTitle {
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
}

.profile-TGGroupOfficialBTN {
    flex-direction: row;
    justify-content: space-around;
    gap: 0.5rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 将内容分成三列 */
    grid-gap: 2rem; /* 设置项目之间的间距，根据需要进行调整 */
}

.profile-TGGroupOfficialBTN a{
    color: black;
    text-decoration: none;
}

.profile-TGGroupOfficialBTNs {
    display: flex;
    flex-direction: column;
    align-items: center; /* 水平居中项目 */
    text-align: center; /* 文字居中 */
}

.profile-TGGroupOfficialBTN img {
    width: 2rem;
    height: auto;
}

.profile-ContactUsTitle {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: transparent;
    margin: 1rem;
}

.profile-ContactUsManager {
    margin: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.profile-ContactUsManagerLeft {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.profile-ContactUsManagerLeft img {
    width: auto;
    height: 3rem;
}

.profile-ContactUsManagerNmae {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    gap: 0.5rem;
}

.profile-ContactUsManagerNames {
    font-weight: bold;
    color: black;
}

.profile-ContactUsManagerNames2 {
    color: #aeaeae;
    font-size: 0.8rem;
}

.profile-ContactUsManagerRight {
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
    width:5rem;
    gap: 0.5rem;
    height: 2rem;
    align-items: center;
    border-radius: 2rem;
    justify-content: center;
    text-decoration: none;
}

.profile-ContactUsManagerRight img {
    width:auto;
    height: 1rem;
}

.profile-ContactUsManagerRightText {
    color: white;
    white-space: nowrap;
}