.body-container {
    font-family: "Microsoft JhengHei", sans-serif;
      position: absolute;
      /* Fixed position from top */
      width: calc(100%);
      height: auto; /*100vh: 这代表视口高度的百分比，也就是浏览器窗口的高度。100vh 表示整个视口高度，相当于屏幕的高度。*/
      /*
          原：100vh: 这代表视口高度的百分比，也就是浏览器窗口的高度。100vh 表示整个视口高度，相当于屏幕的高度。
          - 146px: 这是从视口高度中减去的固定像素值，通常用于顶部导航栏等元素的高度。在这个例子中，从视口高度中减去了 146 像素。
          - 104px: 这是从视口高度中减去的另一个固定像素值，通常用于底部的页脚等元素。在这个例子中，从视口高度中减去了 104 像素。
          综合起来，这段样式设置了一个元素的高度，这个高度占据了整个视口高度，然后从中减去了 146 像素和 104 像素，以适应上部和下部的固定元素（例如导航栏和页脚）。
      */
      background-color:#eeeeee;
      overflow-y:scroll ;
      &::-webkit-scrollbar{
          width: 0px;
          }
  }

  .searchbar input::placeholder {
    text-align: start; /* 将placeholder文本居中 */
}
  

  .searchbar {
    text-decoration: none;
    position: fixed;
    background-color: #eaeaea;
    padding: 0.2rem 0.5rem;
    width: 80%;
    margin: 1rem 0 1rem 0.5rem;
    border-radius: 1rem;
    height: 2rem;
    z-index: 100;
    display: flex;
    align-items: center;
}

.searchbarContainer {
    text-decoration: none;
    width: 100%;
    height: 4rem;
    background-color: white;
    z-index: 10000;
    position: fixed;
}

.searchbar input {
    border: none; /* 去掉边框 */
    outline: none; /* 去掉聚焦时的外边框 */
    background: transparent; /* 设置背景为透明 */
    color: black;
    font-size: 1rem;
    width: 95%;
    margin-left: 0.5rem;
}

.searchbar input:focus {
    caret-color: blue; /* 设置光标颜色为蓝色 */
}

.custom-backbtn {
    margin: 0;
    background-color: transparent;
    border: none;
    position: fixed;
    top: 1rem;
    white-space: nowrap;
    left: 85%;
    text-decoration: none;
}

.custom-backbtn div {
   color: blue;
   font-size: 1.3rem;
}


.profile-missionContainer {
    background-color: white;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 12%;
}

.nav {
    border-bottom: 0.1rem solid #aeaeae;
    position: fixed;
    background-color: white;
    z-index: 9999;
    width: 100%;
}

.nav-link{
    color:#aeaeae;
}

.nav-link:focus, .nav-link:hover {
    color: black;
    font-weight: bold;
}

.nav-link::before {
    content: "";
    position: absolute;
    margin-top: 1.8rem;
    margin-left: 0.2rem;
    width: 6%;
    height:0.2rem;
    background-color: black;
    border-radius: 1rem;
    transform: scaleX(0); /* 初始时不可见 */
    transform-origin: center;
    transition: transform 0.2s ease; /* 添加过渡效果 */
}

.nav-link:hover::before {
    transform: scaleX(1); /* 鼠标悬停时显示下划线 */
}

.tab-content {
    margin-top: 3rem;
}

.profile-mission {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #eeeeee;
    padding: 1rem 0; /* 增加底部内边距 */
}

.profile-missionTabContainer {
    margin: 1rem 0;
}

.profile-mission img {
    width: auto;
    height: 3rem;
}


.profile-missionAward {
    display: flex;
    flex-direction: row;
    align-items: center;
    position:absolute;
    margin-top: -2.2rem;
    margin-left: 13rem;
}

.profile-missionAwardText {
    color: red;
    font-size: 0.8rem;
}

.profile-missionAward  img{
    width: auto;
    height:1rem;
}

.profile-missionText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-missionTextTitle {
    font-weight: bold;
    font-size: 1rem;
}

.profile-missionTextTitle2 {
    color: #aeaeae;
    font-size: 0.8rem;
}

.profile-missionLeft {
    gap:0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-missionBTN {
    background-color: #fcd23a;
    position: relative;
    margin-top: 1.8rem;
    border-radius: 2rem;
    color: white;
    font-weight: bold;
    white-space: nowrap;
    padding:0.1rem 0.5rem;
    width:4rem;
}

.profile-missionBTNDone {
    background-color: #eeeeee;
    color: #bebebe;
    position: relative;
    margin-top: 1.8rem;
    border-radius: 2rem;
    font-weight: bold;
    white-space: nowrap;
    padding:0.1rem 0.5rem;
    width:4rem;
}

.profile-missiontimes {
    position: relative;
    margin-top: -0.5rem;
    color: #bebebe;
    font-size: 0.8rem;
}

.profile-missionAwardTab2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    position:absolute;
    margin-top: -3.8rem;
    margin-left: 13rem;
}

.profile-missionAwardTab2  img{
    width: auto;
    height:1rem;
}

.SearchForAllPagesAD {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    padding: 0.5rem 1rem 1rem 1rem;
    border-bottom: 0.1rem solid #eaeaea;
}

.SearchForAllPagesAD img {
    width: 100%;
    height: 9rem;
    object-fit: initial;
    border-radius: 1rem
}

.SearchForAllPagesADLink {
    background-color: #afafaf;
    color: white;
    width: 2rem;
    height: 1.5rem;
    font-size: 0.8rem;
    display: flex;
    white-space: nowrap;
    justify-content: center;
    position: relative;
    align-items: center;
    top: 0.5rem;
    left: 91%;
    border: none;
}

.SearchForAllPagesADPopup {
    display: none;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 1rem;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.SearchForAllPagesDetailBox {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 1rem;
    justify-content: space-between;
    border-bottom:0.1rem solid #eaeaea;
}

.SearchForAllPagesDetailBoxTitleContainer {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    flex-wrap: wrap;
}

.SearchForAllPagesDetailBoxTitle {
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
    width: 80%;
    height: 65%;
}

.ellipsis-content {
    flex: 1;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 设置最大行数 */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.SearchForAllPagesDetailBoxText {
    font-size: 0.8rem;
    color: #bebebe;
}

.SearchForAllPagesDetailBox img {
    width: 8rem;
    height: 6rem;
    object-fit: initial;
}

.SearchForAllPagesDetailMember {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: start;
    padding: 1rem 0.5rem;
    align-items: center;
    border-bottom: 0.1rem solid #eaeaea;
}

.SearchForAllPagesDetailMember img {
    border: 0.1rem solid #aeaeae;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    object-fit: initial;
}

.SearchForAllPagesDetailMemberName {
    font-size: 1.2rem;
}

.SearchForAllPagesDetailJobCard {
    width: 95%; /* 根据需要调整宽度 */
    padding: 10px;
    position: relative;
    border: none;
    background-color: #ffffff;
    margin: 10px;
    border-bottom: 0.1rem solid #eaeaea;
}

.SearchForAllPagesDetailHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.SearchForAllPagesDetailJobCardTitle {
    font-weight: bold;
    display: flex;
    font-size: 1.1rem;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.SearchForAllPagesDetailJobCardTitleIcon {
    color: white;
    background-color: #e26a3e;
    display: flex;
    border-radius: 1rem 0 1rem 0rem;
    font-size: 0.9rem;
    width: 25px;
    height: 25px;
    justify-content: center;
    font-weight: normal;
    align-items: center;
}

.SearchForAllPagesDetailSalary {
    text-align: right;
    font-size: 0.9rem;
}

.SearchForAllPagesDetailBlueText {
    color: blue;
}

.SearchForAllPagesDetailRequirements {
    display: flex;
    justify-content: flex-start;
    background-color: none;
    padding: 10px;
    margin-top: 2px;
    text-align: center; /* 水平居中文本 */
}

.SearchForAllPagesDetailRequirement {
    display: inline-block; /* 使用inline-block排列，根据内容自动调整宽度 */
    background-color:#f8f8f8;
    padding: 5px;
    margin-bottom:30px; /* 添加适当的外边距 */
    margin-right:10px; /* 减少左右外边距，使格子更接近 */
}

.SearchForAllPagesDetailCompany {
    position: absolute;
    bottom: 10px;
    left: 20px;
    display: flex;
    align-items: center;
}

.SearchForAllPagesDetailCompany img {
    width: 20px; /* 根据需要调整图片大小 */
    height: 20px;
    margin-right: 5px;
}

.SearchForAllPagesDetailCompanyInfo {
    display: flex;
    align-items: center; /* 垂直居中对齐 */
}

.SearchForAllPagesDetailCompanyName {
    margin-left: 5px; /* 可以根据需要调整间距 */
}

.SearchForAllPagesDetailCompanyContainer {
    display: flex;
    flex-direction: column;
    border-bottom: 0.1rem solid #eaeaea;
    padding: 1rem 0;
}

.SearchForAllPagesDetailCompanyHeader {
    width: 95%;
    display: flex;
    align-items: center;
    margin: 1rem;
}

.SearchForAllPagesDetailCompanyTitle {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: calc(-4%);
}



.SearchForAllPagesDetailCompanyImgContainer {
    width: 3rem; /* 调整容器的大小 */
    height: 3rem;
    overflow: hidden; /* 超出容器部分隐藏 */
    border:0.1rem solid #888;
    border-radius: 50%; /* 使容器成为圆形 */
    display: flex; /* 让内部内容垂直和水平居中 */
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.SearchForAllPagesDetailCompanyImgIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: blue;
    border: 0.1rem solid white;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-top: -1.2rem;
    margin-left: 1.8rem;
    font-size: 0.9rem;
}


/* 在容器内添加图像 */
.SearchForAllPagesDetailCompanyImgContainer img {
    width: 100%;
    height: 100%;
}

.SearchForAllPagesDetailCompanyLocation {
    display: flex;
    margin-left: 4.5rem;
    margin-top: -1.5rem;
    color:gray;
    font-size: 0.8rem;
}
   

.SearchForAllPagesDetailCompanyName2 {
    display: flex;
    font-weight: bold;
    margin-left: calc(2%);
    font-size: 1.3rem;
}

.SearchForAllPagesDetailCompanyJob {
    display: inline-block; /* 使用inline-block排列，根据内容自动调整宽度 */
    background-color:transparent;
    margin-left: calc(5%);
    margin-top: 0.7rem;
    font-size: 1rem;
    margin-right: 1rem;
}

.SearchForAllPagesDetailNone {
    background-color: #e7e9ee;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    padding-bottom: 1rem;
    gap: 1rem;
    font-size: 1.1rem;
    color: #aeaeae;
    justify-content: center;
    align-items: center;
}

.SearchForAllPagesDetailNone img {
    width: auto;
    height: 6rem;
}